
<div class="home-page">
    <h2>All Facespace members</h2> 
    <div class="homepage homepage__all">
        <% users.forEach(function(user) { %>
            <div class="homepage__all--user homepage__all--user img">
                <a href="/homepage/<%- user._id %>"><img src= <%- user.avatarUrl %> alt="no picture"></a>
            </div>
         <% }); %>
    </div>
  </div>


