.homepage {
  margin: 0 auto;
  max-width: var(--max-content-width);
  padding: 0 var(--page-horizontal-padding);
}
.homepage__all {
  display: flex;
  flex-wrap: wrap;
}
.homepage__all--user {
  margin: 0 4px;
}
.homepage__all--user img {
  transition: all ease 400ms;
  width: 120px;
}
.homepage__all--user img:hover {
  opacity: 80%;
  border: 5px solid orange;
}

/* .homepage__all--user img {
  transition: 1s ease-out;
  opacity: 100%;
  border: 0px;
} */
